* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

[class*= 'col-'] {
    float: left;
    
    

}

.row:after {
    content: '';
    clear: both;
    display: block;
}

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}



/****** Headline Area *****/
.headline-area {
    background-color: #F7F7F7;
    padding: 10px 0px;
}

.headline-area button {
    border: none;
    
    background: #14679E;
    color: #FFF;
    padding: 10px 14px;
    letter-spacing: 1.2px;
    border-radius: 2px;
}

.headline-area p {
    font-size: 20px;
    letter-spacing: 1.3px;
    line-height: 1.3em;
    margin-top: 5px;
    font-weight: 600;
    color: 000;
}
/****** Headline Area *****/


/***** Header Area *****/
.header-area {
    background: #FFF;
    padding: 30px 0px;
    border: 1px solid #1F2F5F;
}
.eng-btn, .bn-btn {
    padding-top: 10px;
}
.header-area .eng-btn button,
.header-area .bn-btn button {
    border: none;
    background: #14679E;
    color: #FFF;
    padding: 8px;
    letter-spacing: 1.2px;
    border-radius: 2px;
}
.header-area .eng-btn span,
.header-area .bn-btn span {
    font-size: 15px;
    letter-spacing: .6px;
    line-height: 2.5em;
}
.header-area .eng-btn strong,
.header-area .bn-btn strong {
    color: #1F2F5F;
}
.jrna {
    color: #F05A24;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    
}

.header-area .logo img{
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
    padding: 5px 0px;

}
/***** Header Area *****/

/***** Menu Area *****/
.menu-area {
    overflow: hidden;
    padding: 30px 0px;
    background: #34495e;
}

.menu-area .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.menu-area .menu ul li {
    display: inline;
    margin: 0px 15px;
}
.menu-area .menu ul a {
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    padding: 3px 0px;
    color: #FFF;
    letter-spacing: 1px;
    font-size: 18px;
}
/***** Menu Area *****/



/***** Main Content *****/
.main-content {
    padding: 30px 0px;
    overflow: hidden;
    background-color: #F7F7F7;
}
.main-content .left-side {
    overflow: hidden;
}

.main-content .left-side img {
    width: 97%;
    height: auto;
}

.main-content .left-side .side-2 {
    padding: 10px 0px;

}

.main-content .middle .img{
    overflow: hidden;
}

.main-content .middle {
    padding: 30px 0px 20px 0px;
}
.main-content .middle .img img {
    width: 98%;
    height: auto;
    margin-left: 5px;
}
.main-content .middle .middle-lekha h2 {
    font-size: 22px;
    line-height: 1.4em;
}

.main-content .middle .middle-lekha p {
    line-height: 1.4em;
    font-size: 16px;
}

.main-content .right-side {
    overflow: hidden;
}

.main-content .right-side img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
/***** Main Content *****/


/***** other-news *****/
.other-news {
    overflow: hidden;
    padding: 30px 0px;
}

.other-news img{
    width: 98%;
    height: auto;
}
.other-news p,
.other-news h2 {
    line-height: 1.2em;
}
/***** other-news *****/


/***** Footer *****/
.footer-area {
    padding: 20px 0px;
    background: #000;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    line-height: 1.3em;
    letter-spacing: .5px;
} 
/***** Footer *****/